ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.bg-color-1{
    background-color: #2b3d4f ;
}

.bg-color-2{
    background-color: #1abd9c;
}

/* HERO SECTION */
.hero figure img{
    width: 250px;
}

.hero .under-title .bar{
    background-color: white;
    height: 4px;
    width: 150px;
}

