ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* utility */
.bg-color-1{
    background-color: #2b3d4f;
}

.bg-color-2{
    background-color: #1abd9c;
}

.bg-color-3{
    background-color:#3a556e;
}

.bar{
    background-color: white;
    height: 4px;
    width: 150px;
}

.bar-black{
    background-color: black;
    height: 4px;
    width: 100px;
}

/* NAVBAR */
.navbar {
    --bs-navbar-padding-y: 1.5rem;
    --bs-navbar-toggler-border-color: white;
}

.nav-personalized{
    width: 75%;
    }

.bg-body-tertiary {
    background-color: #2b3d4f !important ;
}


/* HERO SECTION */
.hero figure img{
    width: 250px;
}

/* COL SECTION */
.col-section img{
    width: 100%;
    border-radius: 3%;
}

/* ABOUT */
.about p{
    width: 50%;
    padding-inline: 10px;
}




/****** MEDIA ******/
@media screen and (max-width: 991.98px) {
    .about p{
        font-size: 25px;
        margin: 20px auto;

    }

    .contact-us h2{
        font-size: 45px;
    }

    .nav-personalized{
        width: 95%;
        }
}

